<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">tarea2</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/Ejercicio1" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Ejercicio 1
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/Ejercicio2" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Ejercicio 2
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/Ejercicio3" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Ejercicio 3
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/Ejercicio4" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Ejercicio 4
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/Ejercicio5" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Ejercicio 5
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/Ejercicio6" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Ejercicio 6
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/Ejercicio7" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Ejercicio 7
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/Ejercicio8" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Ejercicio 8
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/Ejercicio9" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Ejercicio 9
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/Ejercicio10" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Ejercicio 10
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/Ejercicio11" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Ejercicio 11
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
